<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar-se</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <style>
        form {
            gap: 15px;
        }

        .button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container flex">
        <div class="flex form">
            <h1>Registrar-se</h1>
            <form action="/register" method="post">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="password">Senha: </label>
                <input type="password" id="password" name="password" required>

                <label for="confirm_password">Confirmar senha:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>

                <input type="submit" value="Registra-se" class="button">
            </form>
            <p>Já tem uma conta? <a th:href="@{/login}">Faça login</a></p>
        </div>
    </div>
</body>
</html>